<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trixobase.android.common">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iv_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iv_app"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Trixobase">

    </application>

</manifest>
